<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Register a card</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

<div id="cardContainer">
    <form th:action="@{/card}" method="post">


        <div class="error">
            <span th:each="error : ${error}">
                <div th:text="#{${error.code}}">Card id in DB </div>
                <div th:text="${error.field}">field error </div>
             </span>
        </div>

        <div>
            <input type="text" name="cardNumber" id="cardNumber"
                   placeholder="Card Number 16 digits" required="true" autofocus="true"/>
        </div>
        <div>
            <input type="number" name="expiryYear" id="expiryYear" class="expiry-year"
                   placeholder="Year" required="true" min="0" max="99"/>/
            <input type="number" name="expiryMonth" id="expiryMonth" class="expiry-month"
                   placeholder="Month" required="true" min="1" max="12"/>
        </div>
        <div>
            <input type="text" name="cardHolder" id="cardHolder"
                   placeholder="Credit card owner" required="true"/>
        </div>
        <button class="button" type="submit">Save or update card</button>
    </form>
</div>


</body>
</html>